<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link th:href="@{https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css}" >
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css}" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/trangchu.css}">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0}" />

</head>
<body>
<div th:replace="~{/fragment/sidebar.html}"></div>
<div class="main">

    <div class="cardbox">
        <div class="card">
            <div>
                <div class="cardname">Số người dùng đăng kí trong tháng  <span th:text="${monthDate}"></span> </div>
                <div class="numbers" th:text="${quantityNewUserInMonth}"></div>

            </div>
            <div class="iconbox">
                <span class="material-symbols-outlined">
                    person
                    </span>
            </div>
        </div>

        <div class="card">
            <div>
                <div class="cardname">Bài viết mới trong tháng  <span th:text="${monthDate}"></span></div>

                <div class="numbers" th:text="${quantityNewsInMonth}"></div>
            </div>
            <div class="iconbox">
                <span class="material-symbols-outlined">
                    menu_book
                    </span>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="cardname">Số lượng bình luận trong tháng  <span th:text="${monthDate}"></span></div>
                <div class="numbers" th:text="${quantityNewCommentInMonth}"></div>
            </div>
            <div class="iconbox">
                 <span class="material-symbols-outlined">
                    chat
                    </span>

            </div>
        </div>
        <div class="card">
            <div>
                <div class="cardname">Số lượng bài viết bị báo cáo trong tháng  <span th:text="${monthDate}"></span></div>

                <div class="numbers" th:text="${quantityReportInMonth}"></div>
            </div>
            <div class="iconbox">
                 <span class="material-symbols-outlined">
                    favorite
                    </span>
            </div>
        </div>
    </div>

    <div class="details " >
        <div class="currentusers" style="margin-top: 60px">
                <h3 style="text-align: center;margin-bottom: 50px;">NHỮNG NGƯỜI DÙNG MỚI ĐĂNG KÍ TRONG THÁNG <span th:text="${monthDate}"></span></h3>
            <table >
                <thead style="height: 50px">
                    <tr>
                        <td>STT</td>
                        <td>TÊN NGƯỜI DÙNG</td>
                        <td>TÀI KHOẢN</td>
                        <td>EMAIL</td>
                        <td>GIỚI TÍNH</td>
<!--                        <td rowspan="2">Tác vụ</td>-->
                    </tr>
                </thead>
                <tbody th:each="user, stat :${user}" style="height: 50px">
                    <tr>
                        <td th:text="${stat.index +1}"></td>
                        <td th:text="${user.fullName}"></td>
                        <td th:text="${user.username}"></td>
                        <td  th:text="${user.email}"></td>
                        <td th:text="${user.gender ? 'Nam' : 'Nữ'}">nam</td>
<!--                        <td rowspan="2">-->
<!--                            <a href="#" class="update">Cập nhật</a>-->
<!--                            |-->
<!--                            <a href="#" class="delete">Xóa</a>-->
<!--                        </td>-->
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

</body>
</html>